PORKBUN_API_KEY=
PORKBUN_SECRET_API_KEY=
PORKBUN_DOMAIN=ima.fish
PORKBUN_SUBDOMAIN_SUFFIX=int
PORKBUN_TTL=600
DRY_RUN=false
SYNC_INTERVAL=3600
TS_AUTHKEY=
TS_HOSTNAME=porkbun-dns
TS_TUN_MODE=userspace-networking
TS_EXTRA_ARGS=--accept-dns=false
