PORKBUN_API_KEY=
PORKBUN_SECRET_API_KEY=
PORKBUN_DOMAIN=ima.fish
PORKBUN_SUBDOMAIN_SUFFIX=int
PORKBUN_TTL=600
PUBLIC_IP_ENABLED=false
PUBLIC_IP_LOOKUP_URL=https://api.ipify.org
PUBLIC_IPV6_ENABLED=false
PUBLIC_IPV6_LOOKUP_URL=https://api6.ipify.org
PUBLIC_IPV6_RECORD_NAMES=
PUBLIC_IPV6_ADDRESS=
DRY_RUN=false
API_ENABLED=false
API_LISTEN_ADDR=:8080
API_BIND_ADDRESS=127.0.0.1
API_PORT=8081
PIHOLE_ENABLED=false
PIHOLE_API_URL=http://192.168.2.2:8008/api
PIHOLE_PASSWORD=
SYNC_INTERVAL=3600
TS_AUTHKEY=
TS_HOSTNAME=tailscale-porkbun-dns-sync
TS_TUN_MODE=userspace-networking
TS_EXTRA_ARGS=--accept-dns=false
